main .st{
    padding: 3rem;
}
main .mainpictop{
    
    clip-path: circle();
}
main .st .pic1{
    background-image: url('../assets/studyPic/study7.jpg');
    background-position: center;
    background-size: cover;
    height: 60vh;
    background-attachment: fixed;
}